<footer>
  <div class="footer-contents">
    <h3>Contact us</h3>
    <a href="https://twitter.com/ooh_kiatklai" target="_blank">
      <i class="fa-brands fa-twitter fa-beat-fade" style="color: #3e81f4;"></i>
    </a>
    <a href="https://github.com/kiatklai" target="_blank">
      <i class="fa-brands fa-github fa-bounce" style="color: #35558d;"></i>
    </a>
    <p>Powered by ooh_gotto</p>
  </div>
</footer>
