.container-answer{
  width: 500px;
  margin: 0 auto;
  background-color: aliceblue;
}
.answer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.answer h2{
  font-size: 2.7rem;
  margin-bottom: 15px;
}
.answer p{
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  font-size: 30px;
}
.results li{
  list-style: none;
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: #fff;
  font-size: 20px;
  line-height: 35px;
  font-size: 25px;
}
.bottom-link{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.bottom-link a{
  text-decoration: none;
  font-family: 'Cherry Bomb One', cursive;
  color: #d529d2;
  font-size: 1.4rem;
}
.ome{
  border-bottom: 1px solid #ddd;
}
/* h2 .fa-regular{
  display: none;
} */
.zannen{
  border-bottom: 1px solid #ddd;
  text-align: center;
}
/* #zannen h3 {
  display: none;
} */
.congrats{
  font-family: 'Cherry Bomb One', cursive;
  font-size: 3.4rem;
  color: #f00f0f;
  text-shadow: 2px 5px rgba(13, 250, 25, 0.5);
  animation: result1 1s infinite alternate-reverse;
}
.sad{
  font-family: 'Cherry Bomb One', cursive;
  font-size: 2.8rem;
  color: #2314f0;
  text-shadow: 2px 4px rgba(242, 250, 18, 0.5);
  animation: result2 1.2s infinite alternate;
}

@keyframes result1{
  from {
    font-size: 2rem;
  }
  to {
    font-size: 3.8rem;
  }
}

@keyframes result2{
  from {
    font-size: 2rem;
    width: 30%;
  }
  to {
    font-size: 3rem;
    width: 100%;
  }
}